.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .linkedin-text{
        font-size: 36px;
        font-weight: 700;
    }
    .linkedin-icon{
        font-size: 44px;
    }
}

.subtitle-container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        text-align: center;
}

ion-card{
    margin: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toggle-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    ion-text{
        font-weight: 500;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}