<ion-content>
  <div class="title-container">
    <ion-text color="primary" class="linkedin-text">Linked</ion-text>
    <ion-icon class="linkedin-icon" name="logo-linkedin" color="primary"></ion-icon>
  </div>
  <div class="subtitle-container">Make the most of your professional life</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-card>
      <ng-container *ngIf="submissionType === 'join'">
        <ion-item>
          <ion-label position="floating">First name</ion-label>
          <ion-input
          ngModel firstNameInput
          formControlName="firstNameInput"
          type="text"
          required></ion-input>
        </ion-item>

        <ion-text *ngIf="form.value.firstNameInput === ''" color="danger">Please enter your first name!</ion-text>

      </ng-container>

      <ng-container *ngIf="submissionType === 'join'">
        <ion-item>
          <ion-label position="floating">Last name</ion-label>
          <ion-input
          ngModel lastNameInput
          formControlName="lastNameInput"
          type="text"
          required></ion-input>
        </ion-item>
        <ion-text *ngIf="form.value.lastNameInput === ''" color="danger">Please enter your last name!</ion-text>
      </ng-container>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
          ngModel emailInput
          formControlName="emailInput"
          type="email"
          required></ion-input>
        </ion-item>
        <ion-text *ngIf="form.value.emailInput === ''" color="danger">Please enter your email!</ion-text>

        <ion-item >
          <ion-label position="floating">Password</ion-label>
          <ion-input
          ngModel passwordInput
          formControlName="passwordInput"
          type="password"
          required></ion-input>
        </ion-item>
        <ion-text *ngIf="form.value.passwordInput === ''" color="danger">Please enter your password!</ion-text>

        <p *ngIf="submissionType === 'join'" class="terms-and-conditions">
          By clicking Agree & Join, you agree to the LinkedIn
          <ion-text color="primary">User Agreement</ion-text>,
          <ion-text color="primary">Privacy Policy</ion-text>, and
          <ion-text color="primary">Cookie Policy</ion-text>.
        </p>

        <ion-button
        [disabled]="!form.valid"
        type="submit"
        shape="round"
        expand="block">
          {{ submissionType === 'login' ? 'Sign in' : 'Accept & Join' }}
        </ion-button>

    </ion-card>
  </form>

  <div class="toggle-text">
    {{ submissionType === 'login' ? 'New to LinkedIn' : 'Already on LinkedIn' }}
    <ion-text color="primary" (click)="toggleText()">
      {{ submissionType === 'login' ? 'Join now' : 'Sign in' }}
    </ion-text>
  </div>
</ion-content>
