<ion-card>
  <ion-card-header>
    <ion-text><h5>Today's most viewed courses</h5><ion-icon name="information"></ion-icon></ion-text>
  </ion-card-header>

  <ion-card-content>
    <ion-text color="medium">
      <h6 class="first-course"  style="font-weight: bold;">1. High Performance Habits</h6>
      <p>John Doe | Entrepreneur</p>
    </ion-text>

    <ion-text color="medium">
      <h6 style="font-weight: bold;">2. Leadership 101</h6>
      <p>Jane Smith | Leader</p>
    </ion-text>

    <ion-text color="medium">
      <h6 style="font-weight: bold;">3. Psychology of Success</h6>
      <p>Thomas Bangalter | Psychologist</p>
    </ion-text>
    <ion-button color="medium" size="small" fill="clear">View all recommendations <ion-icon class="ion-padding" color="medium" name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-card-content>
</ion-card>
