ion-card{
    width: 100%;
    padding: 25px;
    border: 1px solid #e1e1e1;

    @media(max-width: 576px){
        width: 500px;
    }
    @media(max-width: 525px){
        width: 420;
    }
    @media(max-width: 440px){
        width: 340px;
    }
    @media(max-width: 360px){
        width: 280px;
    }
}

ion-card-header{
    display: flex;
    margin-bottom: 20px;
}

ion-avatar{
    width: 48px;
    height: 48px;
}

ion-card-header{
    ion-button{
        --border-width: 1px;
        height: 48px;
        width: 100%;
        margin-left: 16px;
    }
}

.ion-text-left{
    margin-right: auto;
}

ion-card-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}