<!-- <div class="all-posts-container"> -->
<ion-content>
  <ion-list>
    <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col class="ion-padding" size="auto">
          <ion-avatar>
            <ion-img src="../../../../assets/eu.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <div class="full-name">João Marcelo Dantas</div>
          <div class="role">Fullstack Developer</div>
          <div class="meta-data">
          1d<ion-icon name="ellipse"></ion-icon> Edited
          <ion-icon name="ellipse"></ion-icon>
          <ion-icon color="dark" name="globe-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-card>
  </ion-list>
</ion-content>
<!-- </div> -->