ion-card{
    padding: 10px;
}

ion-header{
    display: flex;
    gap: 10px;
}

ion-avatar{
    margin: 10px;
}

ion-button{
    margin: 10px;
}

ion-card-content p:hover{
    text-decoration: underline;
    cursor: pointer;
}