<ion-header class="ion-container ion-no-border">

  <ion-toolbar class="toolbar-wrapper">

    
      <ion-buttons class="ion-no-padding" slot="start">
        <ion-button>
          <ion-icon
          color="primary"
          class="linkedin-logo"
          name="logo-linkedin"></ion-icon>
          <ion-searchbar
          class="ion-hide-md-down"
          color="tertiary"
          placeholder="Search"></ion-searchbar>
        </ion-button>
      </ion-buttons>

      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="home"></ion-icon>
            <div>Home</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="people"></ion-icon>
            <div>My Network</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="briefcase"></ion-icon>
            <div>Jobs</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <div>Messaging</div>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge class="notifications-badge">2</ion-badge>
            <div>Notifications</div>
          </ion-col>
          <ion-col (click)="presentPopover($event)" size="auto">
            <ion-avatar>
              <ion-img src="../../../../assets/eu.jpg"></ion-img>
            </ion-avatar>
            <div>Me</div>
            <ion-icon
            name="caret-down-outline"
            size="small"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-toolbar>

</ion-header>